.flex-container{
    display: flex;
    background-color: midnightblue;
    height: 80px;
    
}
.NewsBlog{
    background-color:white;
    width: 200px;
    border: 1px solid red; 
    height: 50px;
    margin-left: 40%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}
.continuereading{
    border: 0px;
    color:white;
    background-color: coral;
}
.images{
   height: 180;
     width: 130;
}
.container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.category{
    height: 50px;
}
.news{
    /*margin-left: 320px;*/
}

.subscribe{
    /*margin-left: 300px;*/
}

.blogs{
    display: flex;
    
}

.blog1{
    margin-left: 20px;
    flex-direction: column;
    text-align: justify;

}
@media only screen and (max-width: 600px){
    .subscribe{
        display: none;
    }
    .images{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .blog1{
        text-align: center;
    }
    
}

