.flex-container{
    display: flex;
    background-color: midnightblue;
    height: 80px;
    
}
.NewsBlog{
    background-color:white;
    width: 200px;
    border: 1px solid red; 
    height: 50px;
    margin-left: 40%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.container{
    height: 40px;
    display: flex;
}
.category{
    height: 50px;
}
.news{
    margin-left: 360px;
}

.subscribe{
    margin-left: 300px;
}

.blogs{
    gap: 40px;
    height: 150px;
    display: flex;
    border:2px blue;
}

.blog1,blog2,blog3{
    gap: 40px;
}


